:root{
  --dim: 30px;
  --bord: 3px solid black;
}

table {
  border-collapse: collapse;
}

input{
  margin: 0px 0px 0px 0px;
}

.small {

  border: 1px solid black;
  height: var(--dim);
  width: var(--dim);
  margin: 0px 0px 0px 0px;
}

input {
  text-align: center;
  font-size: 30px;
}

.disabled{
  background-color: grey;
}

.ERROR {
  border-color: red;
  background-repeat: repeat;
  background-size: 2px;
  background-image: url(err.png);
}


.disabled.ERROR {
  border-color: red;
  background-image: url(derr.png);
}


.edge {
  border-right: var(--bord);
}

.row {
  border-bottom: var(--bord);
}

.upperBound{
  border-top: var(--bord);
}

.leftBound{
    border-left: var(--bord);
}
